{% extends 'base.html' %} {% block content %}
<main class=" container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Bienvenido</h1>
    <p>
      El teletexto es un servicio de información en forma de texto que se emite
      junto con la señal de televisión. Fue creado en los años 1970 por el
      británico John Adams de la BBC. Entonces era conocido como Ceefax. Consiste
      en intercalar texto y bloques de colores en la señal de televisión,
      mostrando la información siempre que el televisor sea compatible con esta
      tecnología (en Ajustes del Televisor si tiene la opción "Closed Captions:
      CC1, CC2, Text1, etc"). Fue muy popular en Europa pero con el tiempo ha ido
      desapareciendo de algunas emisoras europeas. El 12 de octubre de 2012, BBC
      eliminó definitivamente el servicio Ceefax/Teletexto, dejando a Alemania ,
      España e Italia como países donde el Teletexto sigue en activo y con éxito.1
    </p>
    <div class=" text-center">
      <a class="btn btn-primary" href="/signin/">
        Iniciar Session
      </a>
      <a class="btn btn-primary" href="/signup/">
        Registrarte
      </a>
    </div>

  </section>
</main>
{% endblock %}
